body {
    margin: 2em;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#name {
    text-align: center;
}

#about {
    text-align: left;
}

.workItem {
    display: block;
    width: 90%;
    display: inline-grid;
    grid-template-columns: auto auto
}

#link-menu {
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: flex-end;
}

.link, .link a:visited {
    font-size: 15px;
    margin-right: 20px;
    font-weight: 600;
  }
  
  .link a {
    color: black;
    padding-bottom: 0px;
    text-decoration: none;
    border-bottom: 3px solid cornflowerblue;
  }

