body {
  background-color: rgb(223, 237, 245);
  line-height: 1.5;
  color: rgb(30, 30, 30);
  overflow-x: hidden;
}

.container {
  padding: 2%;
}

#link-menu {
  display: flex;
  width: 98%;
  justify-content: flex-end;
}

.link, .link a:visited {
  font-size: 18px;
  margin-right: 20px;
}
  
.link a {
  color: black;
  text-decoration: none;
}

#about {
  padding-top: 50px;
}

.bio-photo {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  vertical-align: top;
} 

.bio-text {
    display: inline-block;
    padding-left: 5%;
    width: 74%;
}

.project-item {
  padding-bottom: 5%;
}

.lean-in-app {
  padding-right: 3%
}

#links {
  padding-top: 50px;
}

